body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    background-image: linear-gradient(to bottom right, lightblue, rgb(225, 244, 250));
}

header {
   
    padding: 50px 0;
    margin: auto;
    text-align: center;
}

img{
    display: inline;
    flex-direction: column;
    align-items:center;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 60px;
    left: 40px;
    top: 30px;
    margin: 0 auto;
}

.encabezado{
    display: inline;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    left: 200px;
    top: 35px;
    width: 940px;
    margin: 0 auto;
}

/* Ingrese el texto aqui */
main{
    width: 100%;
    margin: 0 auto;
}

.textarea{
    display: grid;
    place-items: center;
}

.text-box1{
    width: 70%;
    height: 80%;
    padding: 12px 20px 0px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    box-shadow: 4px 4px 6px #BBBBBB;
  }

 .text-box2{
    width: 65%;
    height: 100%;
    padding: 12px 20px 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    box-shadow: 4px 4px 6px #BBBBBB;
    position: relative;
    box-sizing: border-box;
  }

p1{
    display: block;
    text-align: center;
    font-size: 12px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
 
.buttons{
    text-align: center;
    
}  

.button1, .button2{
    overflow: auto;
    position: relative;
    width: 25%;
    padding: 15px 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(57, 57, 58);
    border: none;
    border-radius: 15px;
    margin: 10px 10px 0 10px;
}


.button-copy{
    text-align: center;
    width: 250px;
    padding: 15px 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(57, 57, 58);
    border: none;
    border-radius: 15px;
    margin: 15px 10px 0 10px;
    position: relative;
    bottom: 85px;
}

.button1:hover, .button2:hover, .button-copy:hover{
    background-color: black;
    color: white;
    box-shadow: 3px 3px 5px grey;
    text-decoration: underline;
    font-size: 1.09em;
}  


/* Styles for footer */

footer{
    text-align: center;
    padding: 0;
}

.copyright{
    color:#000000;
    font-size: 13px;
    margin:20px;
}

.personal-information{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.personal-information:hover{
    font-size: 1.05em;
    font-weight: bold;
    text-decoration: underline;
}

/* waves */
.container {
    padding: 0;
    margin: 0;
    position: relative;
    height: 80px;
  }

  .wave {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: url(https://www.winterwind.com/images/tutorials/wave.png) repeat-x;
    background-size: 250rem 30rem;
    animation: animate 15s linear infinite;
  }
  
  @keyframes  animate {
    0% {
      background-position-x: 0;
      background-position-x: -250rem;
    }
  }
  
  .wave:nth-child(1) {
    opacity: 0.9;
  }
  
  .wave:nth-child(2) {
    opacity: 0.5;
    animation-delay: 0.2s;
    animation-direction: reverse;
  }
  
  .wave:nth-child(3) {
    opacity: 0.7;
    animation-delay: 5s;
  }
